
.bond-card-view {
    width: 500px;
    font-size: 17px;
}

.bond-card-view__head {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 20px 0 26px;
}

.bond-card-view__title {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 38px;
}

.bond-card-view__currency {
    flex-shrink: 0;
    margin: 0 0 0 15px;
    font-size: 22px;
}

.bond-card-view__details {
    margin: 0 20px 15px 26px;
    border-bottom: 2px solid rgb(209, 209, 209);
    padding: 12px 0 16px 0;
}

.bond-card-view__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bond-card-view__chart {
    position: relative;
    font-size: 12px;
}

.bond-card-view__button {
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 19px;
}

select.bond-card-view__button {
    padding: 4px 5px;
}

.bond-card-view__button:hover,
.bond-card-view__button:active,
.bond-card-view__button_active {
    box-shadow: inset 0 4px 25px 0 rgb(206, 206, 206),
                0 0 4px 1px rgb(206, 206, 206);
}

.bond-card-view__periods {
    margin: 0 20px 15px 26px;
}

.bond-card-view__period:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.bond-card-view__period:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.bond-card-view__period:not(:first-child):not(.bond-card-view__button_active) {
    border-right-color: rgba(172, 172, 172, 0.5);
}

.bond-card-view__period:not(:last-child):not(.bond-card-view__button_active) {
    border-left-color: rgba(172, 172, 172, 0.5);
}

.bond-card-view__type {
    position: absolute;
    right: 44px;
    bottom: 60px;
    width: 140px;
}
